<div class="widget-news widget">
	<h4 class="widget__title">News</h4>
	<div class="widget__content">
		<ul class="widget__list">
				
				<li class="widget__item"><b>[10/2019]</b> Started as an AI Resident at Google AI.
</li>
				
				<li class="widget__item"><b>[12/2018]</b> A paper got accepted to ICLR 2019.
</li>
				
				<li class="widget__item"><b>[10/2018]</b> Two papers got accepted to AAAI 2019.
</li>
				
				<li class="widget__item"><b>[10/2018]</b> I was awarded with Liao Kaiyuan Scholarship and Academic Excellence Award!
</li>
				
				<li class="widget__item"><b>[08/2018]</b> A paper got accepted to EMNLP 2018.
</li>
				
				<li class="widget__item"><b>[07/2018]</b> Started as a research assistant at DiDi AI Labs.
</li>
		</ul>
	</div>
</div>