<div class="widget-profile widget">
	<h4 class="widget__title">Profile</h4>
	<div class="widget__content">
		<div class="profile__container" align="center">
			<img src="https://sunshineyin.site/assets/image/avatar.jpg" class="rounded-circle" width="200" height="200">
		</div>
		<div class="profile__name" align="center"> 
			<div style="font-size: 1.25rem">
				<b>Ganmin Yin</b>
			</div>
			<div>
				Institute of Remote Sensing and Geographical Information Systems
			</div>
			<div>
				Peking University
			</div>
		</div>
	</div>
</div>